<%= form_for @feedback do |f| %>

  <div class="">
    <%= f.label :rating %>
    <br>
    <%= f.text_field :rating %>
  </div>

  <div class="">
    <%= f.label :review %>
    <br>
    <%= f.text_area :review %>
  </div>

  <br>

  <div class="">
    <%= f.submit "Submit" %>
  </div>

<% end %>
