<h1>Products</h1>
<p><%= @products.count %> total product(s)</p>

<% @products.each do |product| %>
  <div class="">
    <%= image_tag(product.image.url, :size => "315x180") if product.image.exists? %>
    <p><%= link_to "#{product.name}", product_path(product) %></p>
    <p><%= product.size %></p>
    <p><%= number_to_currency(product.price, :unit => "$") %></p>
  </div>
<% end %>
