<h1><%= @product.name %></h1>

<div class="product-col-left">
  <div class="image-container">
    <div class="img">
      <%= image_tag @product.image.url(:large) if @product.image.exists? %>
    </div>
  </div>

  <br>

  <div class="prod-head">
    <h2>Product Details</h2>
  </div>


  <div class="product">
    <div class="prod-specs">
      <h4>Product Specs</h4>
    </div>
    <div class="prod-description">
      <h4>Description</h4>
    </div>
  </div>

  <div class="product">
    <div class="prod-specs">
      <label for="">Price: </label><strong><%= number_to_currency(@product.price, :unit => "$") %></strong><br>
      <label for="">Size: </label><strong><%= @product.size %></strong><br>
      <label for="">Condition: </label><strong><%= @product.condition %></strong>
    </div>

    <div class="prod-description">
      <p><%= @product.description %></p>
    </div>
  </div>
</div>

<div class="product-col-right">
  <div class="seller-info-head">
    <h2>Seller Information</h2>
  </div>

  <div class="seller-info">
      <label for="">Seller: </label><%= link_to "#{@product.user.username}", user_path(@product.user) %><br>
      <label for="">Rating: </label><strong><%= @product.feedbacks.average(:rating) %></strong><br><br>

      <h4>Seller Reviews</h4>
      <ul>
        <% @product.user.feedbacks.each do |feedback| %>
          <li>
            "<%= feedback.review %>" - <%= feedback.buyer_name %><br>
          </li>
        <% end %>
      </ul>
  </div>


  <% if @product.user != current_user && !@product.sold %>
    <div class="buttons">
      <%= button_to "Add to Wishlist" %>
      <form action="/purchases/new" method="post">
        <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
        <%= tag(:input, :type => "hidden", :name => :user_id, :value => current_user.id) %>
        <%= tag(:input, :type => "hidden", :name => :product_id, :value => @product.id) %>
        <input class="btn btn-light" type="submit" value="Buy Now">
      </form>
    </div>
  <% elsif @product.user == current_user && !@product.sold %>
    <div class="buttons">
      <%= button_to "Edit", edit_product_path(@product), :method => :get %>
      <%= button_to "Delete", @product, :method => :delete %>
    </div>
  <% end %>
</div>
