<h1><%= @product.name %></h1>
<div class="">
  <%= image_tag(@product.image.url, :size => "640x440") if @product.image.exists? %>
</div>

<h2><%= number_to_currency(@product.price, :unit => "$") %></h2>
<h3><%= link_to "#{@product.user.username}", user_path(@product.user) %></h3>

<div class="">
  <strong><%= @product.size %></strong>
  <strong><%= @product.condition %></strong>
</div>

<br>

<div class="">
  <label for="">Product Details</label>
  <p><%= @product.description %></p>
</div>

<% if @product.user != current_user && !@product.sold %>
  <form action="/purchases/new" method="post">
    <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
    <%= tag(:input, :type => "hidden", :name => :user_id, :value => current_user.id) %>
    <%= tag(:input, :type => "hidden", :name => :product_id, :value => @product.id) %>
    <input class="btn btn-light" type="submit" value="Buy Now">
  </form>
<% elsif @product.user == current_user && !@product.sold %>
  <div class="">
    <%= button_to "Edit", edit_product_path(@product), :method => :get %>
    <%= button_to "Delete", @product, :method => :delete %>
  </div>
<% end %>
