<h1><%= @product.name %></h1>
<h2><%= number_to_currency(@product.price, :unit => "$") %></h2>
<h3><%= link_to "#{@product.user.username}", user_path(@product.user) %></h3>

<div class="">
  <strong><%= @product.size %></strong>
  <strong><%= @product.condition %></strong>
</div>

<br>

<div class="">
  <label for="">Product Details</label>
  <p><%= @product.description %></p>
</div>

<% if @product.user != current_user %>
  <input type="button" name="" value="Buy Now">
<% end %>
