<!DOCTYPE html>
<html>
  <head>
    <title>Marketplace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <div class="">
        <p><%= link_to "Marketplace", products_path %>
          <%= link_to "Dashboard", user_path(current_user) %>
          <%= link_to "Log Out", logout_path, method: :delete%>
        </p>
      </div>
    <% else %>
      <div class="">
        <p><%= link_to "Log In", login_path %>
          <%= link_to "Sign Up", new_user_path %>
        </p>
      </div>
    <% end %>



    <%= yield %>
  </body>
</html>
